.slot {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 20%;
  border: 5px black;
}

#inventory {
  width: 30%;
  display: flex;
}
